body {
  background: #EEF2F3;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.clear {
  float: none;
  clear: both;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  width: 100%;
  height: 100%;

  background: #27A9E1;
}

.loading #hiThere {
  margin: 100px auto 50px;
  display: none;
}

.loading .start {
  width: 400px !important;
  display: none;
}

.selectedSnack {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;

  width: 100%;
  height: 100%;
}

.selectedSnack .container {
  width: 800px;
  margin: 150px auto 0;
}

.selectedSnack .left {
  float: left;
  width: 60%;
  color: white;
}

.selectedSnack .header {
  font-size: 32px;
  font-family: 'Lato', sans-serif;
  text-shadow: 0 3px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  margin-bottom: 60px;
}

.selectedSnack .header span {
  text-decoration: underline;
}

.selectedSnack .image {
  float: right;
  width: 35%;
}

.button {
  text-align: center;
  min-width: 125px;
  cursor: pointer;
  padding: 20px 25px;
  color: #fff;
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  border: solid 2px white;
  width: 45%;

  -moz-box-sizing: border-box;
  -khtml-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.button.dispense {
  float: left;
  background: rgba(255, 255, 255, 0.2);
}

.button.dispense:hover {
  background: rgba(255, 255, 255, 0.4);
}

.button.reset,
.button.start {
  float: right;
  background: rgba(0, 0, 0, 0.2);
}

.button.reset:hover,
.button.start:hover {
  background: rgba(0, 0, 0, 0.4);
}

.button.reset.full,
.button.start.full {
  float: none;
  margin: 0 auto;
  width: 80%;
}

.snacks {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
}

.snacks .snack,
.snacks .filler {
  position: relative;
  float: left;
  overflow: hidden;

 	-moz-border-radius: 4px;
  -khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.snacks .filler {
  z-index: 1;
  background-color: #EBEEF0;
}

.snacks .snack {
  z-index: 2;
  background: #fff;
}

.snacks .snack > div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.snacks .snack.selected > div {
  opacity: 1;
}
